@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=cyrillic');

@font-face {
  font-family: "Font2-Medium";
  src: url("./fonts/Font2-Medium.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Font2-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Font2-Medium.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Font2-Medium.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Font2-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Font2-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Font2-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}