$main-font-size: 16px;

$main-font: 'Ubuntu', sans-serif;
$title-font: "Font2-Medium";

$bg-color: #E9E9E9;
$border-color: #CDCDCD;

$table-bg-color: #F4F2F5;
$table-border-color: #D8D8DD;

$accent-color-1: #EA2133;
$accent-color-2: #55A634;

$dark: #434343;
$light: #c2c4c6;
